.boton {

    float: none;
    width: 30vh;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(72,82,72,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(72,82,72,1);
    box-shadow: 10px 10px 5px 0px rgba(72,82,72,1);
}

.boton:hover {
    background-color: #ddd;
    color: black;
}

/*.content{
    min-height: calc(100vh - 89px - 90px);
}*/

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5vh;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.topnav .search-container {
    float: left;
    margin:3vh;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: groove;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

#consultarID{
    float: none;
    text-align: center;
    padding: 6px 10px;
    margin-top: 3px;
    margin-right: 16px;
    background: none;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#nombreCompra{
    margin-top: 10vh;
    margin-left: 20%;
    background-color: #F0FFFF;
    height: 7vh;
    width: 20vh;
    line-height: 7vh;
    border:double;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50vw;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    font-family: arial;
    height: 45vh;
}

.title {
    color: grey;
    font-size: 18px;
    width: 40vw;
}

.myCheckbox input {
  position: relative;
  z-index: -9999;
}

.myCheckbox span {
  width: 20px;
  height: 20px;
  display: block;
  background: url("link_to_image");
}

.myCheckbox input:checked + span {
  background: url("link_to_another_image");
}